body {
background-color:black;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    text-align: center;
}
{
	background-color:white;
	}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}
.header {
  display: flex;
  align-items: center;
  padding: 30px;
}

.header__logo {
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: -1px;
}
.header__logo span {
  display: inline-block;
  transform: translateY(4px) rotate(180deg);
  pointer-events: none;
}

.header__menu {
  margin-left:auto
}

.header__menu__list, .footer__menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu__link {
  margin-left: 50px;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: #bf6726;
}

